* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.root {
  width: 500px;
  height: 500px;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  color: white;
}
.test {
  width: 232px;
  height: 321px;
  border-radius: 6px;
}
.disp {
  width: 100%;
  height: 81px;
  background-color: #454547;
  color: white;
  font-size: 30px;
  font-weight: 1000;
  border: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  height: 240px;
}
.buttonsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 20%;
  background-color: gray;
  border: solid black 0.5px;
}
button {
  width: 100%;
  height: 100%;
  border: 0.1px solid #464647;
  color: white;
}
.zero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
  background-color: gray;
  border: solid black 0.5px;
  width: 50%;
  border-bottom-left-radius: 6px;
}
.orange {
  background-color: #ff9f0a;
}
.gray {
  background-color: #777677;
}
.dgray {
  background-color: #585859;
}
