@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul,
li {
  list-style: none;
}
#root {
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}
.container {
  max-width: 580px;
  margin: 100px auto 20px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
}
.todoTitle {
  margin-bottom: 20px;
}
.todoAdd {
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  padding-left: 30px;
  margin-bottom: 25px;
}
.todoAdd input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background: transparent;
}
.todoAdd button {
  background: #ff5945;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 40px;
  padding: 10px;
  padding: 16px 50px;
  cursor: pointer;
}
.todoList {
  /* border: 2px solid red; */
}
.todoList li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid black;
  position: relative;
}

.todoList li:last-child {
  border: none;
}
.todoList li input {
  flex: 1;
  height: 30px;
  border: none;
  outline: none;
  background: inherit;
  padding: 5px;
  padding-left: 30px;
  border-radius: 5px;
}
.todoList li input:enabled {
  background-color: #edeef0;
}
.checkboxs {
  display: none;
}
.todoList li label {
  width: 100px;
  height: 30px;
  background-color: #5a95ff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.todoList li button {
  border: none;
  outline: none;
  width: 30px;
  text-align: center;
  height: 30px;
  background-color: #ff5c5c;
  font-size: 18px;
  cursor: pointer;
}
.checkboxInput {
  /* appearance: none; */
  width: 20px;
  height: 20px;
  border: 2px solid red;
  position: absolute;
  left: 0;
  border-radius: 50%;
}
