* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url("https://c1.wallpaperflare.com/path/565/385/156/sunset-brook-green-meadow-june-df867360f0bed19da26bbb3838498c8f.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container {
  width: 1320px;
  padding: 0px 16px;
  margin: auto;
  height: 100vh;
}
.boards {
  display: flex;
  gap: 10px;
}
.board {
  width: 200px;
  height: fit-content;
  background-color: gray;
  border-radius: 10px;
  padding: 20px;
}
.head {
  display: flex;
  gap: 20px;
}
.addCard {
  width: 100%;
  background-color: aqua;
}
.cards {
  width: 100%;
}
.card {
  width: 50px;
  height: 50px;
  background-color: red;
}
