* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url("https://c1.wallpaperflare.com/path/565/385/156/sunset-brook-green-meadow-june-df867360f0bed19da26bbb3838498c8f.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container {
  width: 1320px;
  padding: 0px 16px;
  margin: auto;
  height: 100vh;
}
.boards {
  display: flex;
  gap: 10px;
  width: fit-content;
}
.board {
  width: 200px;
  height: fit-content;
  background-color: rgb(230, 227, 227);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.head {
  display: flex;
  gap: 20px;
  font-weight: 700;
}
.addCard {
  width: 100%;
  background-color: aqua;
  border-radius: 5px;
}
.cards {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.card {
  width: 100%;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
}
.title {
  background-color: blanchedalmond;
  width: 100%;
  height: fit-content;
}
