* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url("https://c1.wallpaperflare.com/path/565/385/156/sunset-brook-green-meadow-june-df867360f0bed19da26bbb3838498c8f.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.container {
  width: 1320px;
  padding: 0px 16px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.todoList {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  width: 150px;
  height: 200px;
}
.titleInput {
  width: 50px;
  height: 20px;
  background-color: beige;
}
